@import '/src/styles.scss';
.primary{
  background: $prin_admin;
  border: none;
  width: 115px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  color: $back;
  font-family: 'Montserrat', sans-serif;
}

.primary:hover{
  background: $sec_admin;
}
.secondary{
  background: $sec_admin;
  border: none;
  width: 115px;
  cursor: pointer;
  border-radius: 4px;
  height: 35px;
  color: $back;
  font-family: 'Montserrat', sans-serif;
}

.secondary:hover{
  background: $prin_admin;
}

.success{
  background: $success;
  border: none;
  width: 115px;
  border-radius: 4px;
  height: 35px;
  color: $back;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.success:hover{
  background: #82d485;
  color: $back;
}
.icon-title{
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}


