<div class="container-window">
  <div class="header">
    <div class="header-division">
      <div class="container-input-filters">
        <div class="icon-filter">
          <span class="icon" [ngClass]="'fa-solid fa-filter'"></span>
        </div>
        <input
          type="text"
          formControlName="message"
          class="form-control number-filter"
          placeholder="N°"
        />
        <input
          type="text"
          formControlName="message"
          class="form-control name-filter"
          placeholder="Nombre"
          id="message-input"
        />
      </div>
      <div class="container-icons">
        <div class="search-filter">
          <span class="icon" [ngClass]="'fa-solid fa-magnifying-glass'"></span>
        </div>
        <div class="clear-filter">
          <span
            class="icon"
            [ngClass]="'fa-solid fa-filter-circle-xmark'"
          ></span>
        </div>
      </div>
    </div>
    <div class="container-btn" (click)="openModalCreateMenu()">
        <span class="icon" [ngClass]="'fa-solid fa-plus'"></span>
    </div>
  </div>
  <div class="">
    <table class="rounded-circle table table-striped">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Titulo</th>
          <th scope="col">Icono</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menus">
          <th scope="row">{{menu.id}}</th>
          <td>{{menu.title}}</td>
          <td>
            <span class="icon" [ngClass]= "menu.icon"></span>
          </td>
          <td> 
            <a [routerLink]="menu.link">{{menu.link}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
