
 <div class="parent">
    <div>
        <app-header-modal iconClass="fa-solid fa-hand-holding-medical" title="Cares"></app-header-modal>
    </div>
    <div class="header">
        <div class="title">
            <h1>Recuerda tener en cuenta estos cuidados para que tu condicion mejore...</h1>
        </div>
    </div>

    <div class="create_space">
        <div class="container-btn" (click)="openCloseForm()">
            <span class="icon" [ngClass]="'fa-solid fa-plus'"></span>
        </div>
        <div class="container">
            <form [formGroup]="form" *ngIf="viewForm">
                <p>Vamos a agregar un nuevo cuidado...</p>
                <label for="care_description">Ingresa la descripcion: </label>
                <textarea type="text" formControlName="description" name="care_description"></textarea>
                <div>
                    <button (click)="createCare()">Aceptar</button>
                    <button (click)="openCloseForm()">Cancelar</button>
                </div>
                
            </form>
            <div class="no_cares" *ngIf="cares.length == 0">
                <h1>Este paciente no tiene cuidados registrados..</h1>
            </div>
        </div>
            
    </div>
    



    <div class="container d-flex flex-wrap justify-content-center">
        <div class="card m-4" style="width: 18rem;" *ngFor="let care of cares">
            <div class="card-body">
              <h5 class="card-title">Si te quieres curar pronto</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Ten en cuenta...</h6>
              <p class="card-text">{{care.description}}</p>
              <a href="#" class="card-link">Recomendado por: {{care.doctor[0].user.name}} {{care.doctor[0].user.lastname}}</a>
            </div>
          </div>
    </div>
</div>

