@import '/src/styles.scss';
.parent {
    border-radius: 10px;
  background: $back;
  overflow-y: scroll;
  max-height: 600px;
   // Ocultar el scrollbar en Chrome y Safari
   &::-webkit-scrollbar {
    display: none;
  }

  // Ocultar el scrollbar en Firefox
  scrollbar-width: none;
  .header {
    .title {
      h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
      }
    }
  }
  .head{
    color: #dc3545;
  }

  .create_space {
    margin: 20px 0;
    .container-btn {
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .icon {
        font-size: 24px;
        color: #007bff;
      }
    }

    form {
      margin-top: 20px;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      background-color: #f8f9fa;
      color: #333;
      width: 300px;
      margin: 0 auto;

      label {
        display: block;
        margin-bottom: 5px;
      }

      textarea[type="text"] {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      button {
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        margin-right: 10px;

        &:last-child {
          background-color: #dc3545;
        }
      }
    }
  }

  .no_cares{
    padding-top:200px;
    padding-bottom: 200px;
    //height: 400px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 20px;
      width: 18rem;

      .card-body {
        h5 {
          color: #333;
        }

        h6 {
          color: #666;
        }

        p {
          color: #333;
        }

        a {
          color: #007bff;
        }
      }
    }
  }
}