<div class="parent">
    <div>
        <app-header-modal iconClass="fa-solid fa-hand-holding-medical" label="Cares"></app-header-modal>
    </div>
    <div class="header">
        <div class="title">
            <h1 *ngIf="getRole()==2 || getRole()==3">Recuerda tener en cuenta estos cuidados para que tu condicion mejore...</h1>
            <h1 *ngIf="getRole()==4">Estos son los cuidados de tu paciente...</h1>
        </div>
        <div class="foto">
            <img class="foto" width="200px"
                src="https://previews.123rf.com/images/natalimis/natalimis1705/natalimis170500079/77967820-cuidados-médicos-en-forma-de-un-conjunto-de-símbolos-en-las-manos-médico.jpg">
        </div>
    </div>

    <div class="create_space" *ngIf="getRole() == 4">
        <div class="container-btn" (click)="openCloseForm()">
            <span class="icon" [ngClass]="'fa-solid fa-plus'"></span>
        </div>
        <div class="container">
            <form [formGroup]="form" *ngIf="viewForm">
                <p>Vamos a agregar un nuevo cuidado...</p>
                <label for="care_description">Ingresa la descripcion: </label>
                <textarea type="text" formControlName="description" name="care_description"></textarea>
                <div>
                    <button (click)="createCare()">Aceptar</button>
                    <button (click)="openCloseForm()">Cancelar</button>
                </div>
            </form>
            
        </div>
    </div>
    <div class="no_cares" *ngIf="cares.length == 0">
        <h1>Este paciente no tiene cuidados registrados..</h1>
    </div>

    <div class="container d-flex flex-wrap justify-content-center">
        <div class="card m-4" style="width: 18rem;" *ngFor="let care of cares">
            <div class="card-body">
                <h5 class="card-title">Si te quieres curar pronto</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Ten en cuenta...</h6>
                <p class="card-text">{{care.description}}</p>
                <a href="#" class="card-link">Recomendado por: {{care.doctor[0].user.name}}
                    {{care.doctor[0].user.lastname}}</a>
            </div>
        </div>
    </div>
</div>