<div>
  <div>
    <app-header-modal type="{{type}}"  iconClass="{{iconClass}}" label="{{title}}"></app-header-modal>
  </div>
  <div class="content-modal" [formGroup]="form">
    <div class="container">
      <form [formGroup]="form">
        <div class="form-group">
          <div class="label-icon">
            <span class="button-icon" [ngClass]="iconClass"></span>
            <label for="rol">Rol</label>
          </div>
          <select id="rol" formControlName="rol_id" class="form-control">
            <option value="0" disabled selected>Seleccione el rol</option>
            <option *ngFor="let rol of rols" [value]="rol?.id">{{rol.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <div class="label-icon">
            <span class="button-icon" [ngClass]="'fa-solid fa-bars-progress'"></span>
            <label for="rol">Menu</label>
          </div>
          <div class="form-group">
            <select id="rol" formControlName="menu_id" class="form-control">
              <option value="0" disabled selected>Seleccione el menu</option>
              <option *ngFor="let menu of menus" [value]="menu?.id"> {{menu.title}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="footer-modal">
    <app-button type="" text="ACEPTAR" (click)="assingMenuToRol()"></app-button>
  </div>
</div>
