@import '/src/styles.scss';
.container{
  background: $prin_admin;
  color: $back;
  padding: 8px;
  border-radius: 5px 5px 0 0;
}

.container.success{
  background: $success;
}
.content{
  display: flex;
  align-items: center;
  gap: 10px;
}
.title{
  font-size: 16px;
}
