<div class="container" >
  <div>
    <app-header-modal type="{{type}}" *ngIf="iconClass" iconClass="{{iconClass}}" label="{{title}}"></app-header-modal>
    <app-header-modal type="{{type}}" *ngIf="!iconClass" label="{{title}}"></app-header-modal> 
  </div>
  <div class="title">
    <h4>{{question}}</h4>
  </div>
   <div class="buttons">
    <app-button *ngIf="type === 'Confirmation'" (click)="closeWithResponse(false)" class="btn-cerrar" color="purple" label="Cerrar"></app-button>
    <app-button (click)="closeWithResponse(true)" class="btn-aceptar" label="Aceptar" color="green"></app-button>
  </div>
</div>
