.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .toast.success {
    background-color: #28a745; /* Color de fondo para éxito */
  }
  
  .toast.warning {
    background-color: #ffc107; /* Color de fondo para advertencia */
  }
  
  .toast.error {
    background-color: #dc3545; /* Color de fondo para error */
  }