#calendar-container {
    color: black !important;
    background-color: white !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 5% !important;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    height: max-content !important;
    color: black !important;
    background-color: white !important;

  }