<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <h5 class="card-title">Presion arterial</h5>
          <!-- <p class="card-text">{{vitalSingsService.vistalsSigns.blood_pressure}}</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-success text-white">
        <div class="card-body">
          <h5 class="card-title">Ritmo Cardiaco</h5>
          <!-- <p class="card-text">{{vitalSingsService.vistalsSigns.heart_rate}}</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-danger text-white">
        <div class="card-body">
          <h5 class="card-title">Saturación de O2</h5>
          <!-- <p class="card-text">{{vitalSingsService.vistalsSigns.O2_saturation}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mt-3" (click)="openModalUpdateVitalsSigns()">GUARDAR SIGNOS VITALES</button>
</div>

