<div class="container p-2">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-heart fa-2xl pb-2 pe-2 ps-4 animated-heart" style="color: #FF4848;"></i>
        <h2 class="text-dark ps-2"><strong class="display-6">{{patient_name}}</strong></h2>
        <div class="container-btn-chat" (click)="openModalChat()">
          <i class="fa-solid fa-message fa-2xl pb-2 pe-2 ps-4" style="color: #1E5877; cursor: pointer;"></i>
        </div>
      </div>
      <div class=" d-flex justify-content-end">
        <button class="btn bg-button-blue m-3 text-white" (click)="openCaresModal()">Cx</button>
        <button class="btn bg-button-blue m-3 text-white" (click)="openDiagnosesModal()">Dx</button>
        <button class="btn bg-button-blue m-3 text-white" (click)="openModalUpdateVitalsSigns()">ACTUALIZAR SIGNOS
          VITALES</button>
      </div>            
    </div>

  </div>
  <div class="row m-2">
    <div class="col-md-4">
      <div class="card bg-vitalsing-yellow">
        <div class="card-body">
          <div class="row">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-temperature-half fa-2xl pb-2 me-2"></i>
              <h5 class="card-title p-2"><strong>Temperatura</strong></h5>
            </div>
          </div>
          <div class="card-text text-center d-flex justify-content-center">
            <p class="display-1 d-inline-block">{{vitalSings.blood_pressure}}</p>
            <p class="display-6 d-inline-block m-2">°C</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-vitalsing-red">
        <div class="card-body">
          <div class="row">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-heart-pulse fa-2xl pb-2 me-2"></i>
              <h5 class="card-title p-2"><strong>Ritmo Cardiaco</strong></h5>
            </div>
          </div>
          <div class="card-text text-center d-flex justify-content-center">
            <p class=" display-1 d-inline-block">{{vitalSings.hearth_rate}}</p>
            <p class="display-6 d-inline-block m-2">LPM</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-vitalsing-blue">
        <div class="card-body">
          <div class="row">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-droplet fa-2xl pb-2 me-2"></i>
              <h5 class="card-title p-2"><strong>Saturación O2</strong></h5>
            </div>
          </div>
          <div class="card-text text-center d-flex justify-content-center">
            <p class="display-1 d-inline-block">{{vitalSings.O2_saturation}}</p>
            <p class="display-6 d-inline-block m-2">%</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="graphic-all-againt-alls card col-md-12">
    <div class="row">
      <div class="card-body col-md-6">
        <div class="header-graphic card-header">
          <h2 class="text-dark card-title"><strong class="display-6 title-graphic">Gráfica de signos vitales</strong>
          </h2>
        </div>
        <div class="container-fluid">
          <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
            [dataLabels]="chartOptions.dataLabels!" [yaxis]="chartOptions.yaxis!" [colors]="chartOptions.colors!"
            [legend]="chartOptions.legend!" [fill]="chartOptions.fill!"></apx-chart>
        </div>
      </div>
      <div class="card-body col-md-6">
        <div class="header-graphic card-header">
          <h2 class="text-dark card-title"><strong class="display-6 title-graphic">Ritmo cardíaco</strong></h2>
        </div>
        <div class="container-fluid">
          <apx-chart [series]="chartHearthRateOptions.series!" [chart]="chartHearthRateOptions.chart!"
            [xaxis]="chartHearthRateOptions.xaxis!" [dataLabels]="chartHearthRateOptions.dataLabels!"
            [yaxis]="chartHearthRateOptions.yaxis!" [colors]="chartHearthRateOptions.colors!"
            [legend]="chartHearthRateOptions.legend!" [fill]="chartHearthRateOptions.fill!"></apx-chart>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-body col-md-6">
        <div class="header-graphic card-header">
          <h2 class="text-dark card-title"><strong class="display-6 title-graphic">Temperatura</strong></h2>
        </div>
        <div class="container-fluid">
          <apx-chart [series]="chartTemperatureOptions.series!" [chart]="chartTemperatureOptions.chart!"
            [xaxis]="chartTemperatureOptions.xaxis!" [dataLabels]="chartTemperatureOptions.dataLabels!"
            [colors]="chartTemperatureOptions.colors!" [yaxis]="chartTemperatureOptions.yaxis!"
            [fill]="chartTemperatureOptions.fill!"></apx-chart>
        </div>
      </div>
      <div class="card-body col-md-6">
        <div class="header-graphic card-header">
          <h2 class="text-dark card-title"><strong class="display-6 title-graphic">Saturación O2</strong></h2>
        </div>
        <div class="container-fluid">
          <apx-chart [series]="chartSaturationOptions.series!" [chart]="chartSaturationOptions.chart!"
            [xaxis]="chartSaturationOptions.xaxis!" [dataLabels]="chartSaturationOptions.dataLabels!"
            [yaxis]="chartSaturationOptions.yaxis!" [colors]="chartSaturationOptions.colors!"
            [legend]="chartSaturationOptions.legend!" [fill]="chartSaturationOptions.fill!"></apx-chart>
        </div>
      </div>
    </div>
  </div>

</div>