@import '/src//styles.scss';
.container-btn{
  margin-left: 10px;
}
.message-recived {
  background-color: rgba(152, 149, 149, 0.2);
  color: #333;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: 10px;
  max-width: 70%;
  align-self: flex-start;
}

.message-send {
  display: flex;
  background-color: #369cdd;
  color: $back;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: 10px;
  max-width: 70%;
  align-self: flex-end;
}

.message-send{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: flex-start;
  width: 50%;
}

.message-recived{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: flex-start;
  width: 50%;
}

.mensaje-recibido{
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
}

.mensaje-enviado{
  display: flex;
  flex-direction: column;
}

.fecha-mensaje{
  margin: 0;
  color: gray;
  font-size: small;
}

.usuario{
  font-weight: bold;
}

.btn-send
{
  margin-left: 10px;
  background: $success;
}

form{
  padding: 0;
}

.container-messages{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.container-content-form{
  min-width: 100%;
  min-height: 200px;
  padding: 10px;
  background: $back;
  max-height: 400px;
  overflow-y: auto;
}
.info-user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-name-date{
  display: flex;
  align-items: center;
  gap: 10px;
}
.container-image img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.name{
  font-weight: bold;
  font-size: 16px;
}

.date{
  font-weight: bold;
  font-size: 10px;
}
.content-message-send{
  border-radius: 4px;
  padding: 10px;
}
.content-message-recived{
  border-radius: 4px;
  padding: 10px;
}

.footer-modal{
  background: $prin_admin;
  display: flex;
  align-items: center;
  color: $back;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 0 0 4px 4px; /* Radios de las esquinas (superior izquierda, superior derecha, inferior derecha, inferior izquierda) */
}
