<div class="container-fluid p-0">
  <div class="row">

    <div class="col-md-4">
      <img src="assets/images/logo-register.png" alt="Descripción de la imagen" class="img-fluid imgw">
    </div>


    <div class="col-md-4">
      <div class=" h-100">
        <div class="">
          <div class="row">
            <div class="col-md-12 h-40">
              <div class="row">
                <div class=" col-md-12 text-center">
                  <img src="assets/images/userImageNotFound.png" alt="Imagen del usuario"
                    class="img-fluid user-image m-2 ">
                </div>
                <div class="col-md-12 text-center ">
                  <button type="submit" class="m-2 btn btn-confirmar">Subir foto de perfil</button>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="card col-md-12 h-60 m-1 p-2 w-60">
                <h2 class="prin-user card-title text-center mb-2 text-title-forms">Tu familiar a cargo</h2>
                <form class="p-2">
                  <div class="mb-3">
                    <input id="name" type="text" placeholder="Nombre" class="form-control">
                  </div>
                  <div class="mb-3">
                    <input id="lastname" type="text" placeholder="Apellidos" class="form-control">
                  </div>
  
                  <div class="mb-3">
                    <input id="email" type="text" placeholder="Correo" class="form-control">
                  </div>
                  <div class="mb-2">
                    <input id="phone" type="text" placeholder="Teléfono" class="form-control">
                  </div>
  
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="h-100 pt-4 m-2">
        <div class="card-body">
          <h1 class=" text-center mb-4 fw-bold text-title-forms">TU REGISTRO</h1>
          <form>
            <div class="row mb-3 w-100 ">
              <div class="col-md-4 w-50">
                <input type="text" class="form-control" id="name" placeholder="Nombre">
              </div>
              <div class="col-md-4 w-50">
                <input type="text" class="form-control" id="lastname" placeholder="Apellidos">
              </div>
            </div>

            <div class="row mb-3 w-100 ">
              <div class="col-md-4 w-50">
                <input type="text" class="form-control" id="phone" placeholder="Teléfono">
              </div>

              <div class="col-md-4 w-50">
                <input type="text" class="form-control" id="id" placeholder="CC">
              </div>
            </div>

            <div class="mb-3 pe-4">
              <input type="email" class="form-control" id="email" placeholder="Correo">
            </div>
            <div class="mb-3 pe-4">
              <input type="password" class="form-control" id="password" placeholder="Contraseña">
            </div>

            <div class="row mb-1 w-100 ">
              <div class="col-md-4 w-50">
                <div class="mb-3">
                  <label for="seleccion" class="form-label text-form">Género</label>
                  <select class="form-select" id="seleccion" name="seleccion">
                    <option value="man">Hombre</option>
                    <option value="woman">Mujer</option>
                    <option value="other">Otro</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 w-50">
                <label for="seleccion" class="form-label text-form">Fecha nacimiento</label>
                <input type="date" class="form-control" id="fecha" name="fecha">
              </div>
            </div>

            <div class="mb-3 pe-4">
              <input type="address" class="form-control" id="address" placeholder="Dirección">
            </div>
            <div class="mb-3 pe-4">
              <input type="information" class="form-control" id="information" placeholder="Cuéntanos sobre ti">
            </div>

            
              <div class="row pe-4">
                <div class="col">
                  <div class="text-end">
                    <button class="btn btn-peligro me-2">Cancelar</button>
                    <button class="btn btn-confirmar">Registrarme</button>
                  </div>
                </div>
              </div>
                     

          </form>
        </div>
      </div>
    </div>
  </div>
</div>