<div class="container-form">
  <div class="container">
    <div class="container-image">
      <img src="../../../../../assets/icons/Claro-completo.png" alt="Logo">
    </div>
    <form [formGroup]="form" class="formulario">
      <div class="card" style="width: 50%;">
        <div class="card-header">
          <h4 class="card-title">CAMBIAR MI CONTRASEÑA</h4>
        </div>
        <div class="card-body">
          <div class="form-outline mb-2">
            <div class="input-group">
              <input formControlName="password" type="{{ showPassword ? 'text' : 'password' }}" id="password"
                placeholder="Nueva contraseña" class="form-control form-control-md" required />
              <button type="button"
                class="btn btn-outline-secondary border-start-0 border-end-0 border-top-0 border-bottom-0"
                (click)="togglePasswordVisibility()">
                <i class="fa" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
              </button>
            </div>
            <div *ngIf="fg['password'].errors && (fg['password'].dirty || fg['password'].touched)">
              <p class="mb-0" *ngIf="fg['password']?.errors?.['required']" style="color: #FF6F60;">Este campo es
                requerido</p>
            </div>
          </div>
          <div class="form-outline mb-2">
            <div class="input-group">
              <input formControlName="confirmPassword" type="{{ showConfirmPassword ? 'text' : 'password' }}" id="password"
                placeholder="Confirmar contraseña" class="form-control form-control-md" required />
              <button type="button"
                class="btn btn-outline-secondary border-start-0 border-end-0 border-top-0 border-bottom-0"
                (click)="toggleConfirmPasswordVisibility()">
                <i class="fa" [ngClass]="{'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}"></i>
              </button>
            </div>
            <div *ngIf="fg['confirmPassword'].errors && (fg['confirmPassword'].dirty || fg['confirmPassword'].touched)">
              <p class="mb-0" *ngIf="fg['password']?.errors?.['required']" style="color: #FF6F60;">Este campo es
                requerido</p>
            </div>
          </div>
        </div>

        <div class="container-btn">
          <button (click)="changePassword()" type="button" class="btn-send mt-3">
            <div *ngIf="!loading">ACEPTAR</div>
            <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </form>
    <div class="container-ilustracions">
      <div class="constiner-image-one">
        <img src="../../../../../assets/images/doctors-dos.svg" alt="Ilustracion">
      </div>
      <div class="container-image-two">
        <img src="../../../../../assets/images/medicine-dos.svg" alt="Ilustracion">
      </div>
    </div>
  </div>
</div>
