<div class="p-2 text-center d-flex flex-row justify-content-center align-items-center">
  <div class="constiner-image-one">
    <img src="../../../../../assets/images/doctors-dos.svg" alt="Ilustracion">
  </div>
  <div id="carouselExample" class="carousel slide w-75 p-5">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card mx-auto">
          <i class="fa-regular fa-comment-dots" style="color: #777777;"></i>
          <div class="card-body">
            <p class="card-text">Increíble cómo la plataforma trajo la fiesta al hospital en casa. ¡El equipo médico es
              como mi grupo de rock personal, siempre listos para rockear el tratamiento y hacerme sentir genial!"</p>
            <p class="card-text"> - Luz Ángela López</p>
          </div>
          <img
            src="assets/images/anciana-canas-tomando-selfie-telefono-movil-persona-mayor-disfruta-tecnologia_442523-221.avif"
            class="card-img-top mx-auto img-fluid rounded-circle" alt="">
        </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-auto">
          <i class="fa-regular fa-comment-dots" style="color: #777777;"></i>
          <div class="card-body">
            <p class="card-text">Ser parte de Home Heal es como tener superpoderes médicos. La tecnología hace que
              podamos ofrecer atención personalizada y, lo mejor de todo, nos conecta de manera única con cada paciente.
              ¡Es medicina moderna con un toque personal!"</p>
            <p class="card-text"> - Dra. Lulu Pérez</p>
          </div>
          <img src="assets/images/81734f9ac5f6267a7efdd0e969b3c081.jpg"
            class="card-img-top mx-auto img-fluid rounded-circle" alt="">
        </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-auto">
          <i class="fa-regular fa-comment-dots" style="color: #777777;"></i>
          <div class="card-body">
            <p class="card-text">La plataforma hace que la medicina sea tan accesible y cercana. Puedo adaptar el
              tratamiento según las necesidades específicas de cada paciente. Además, ¡hace que cada día sea una nueva y
              emocionante aventura!"</p>
            <p class="card-text"> - Dr. Ricky Ricón
            </p>
          </div>
          <img
            src="assets/images/dtrRickyRicón.jpg"
            class="card-img-top mx-auto img-fluid rounded-circle" alt="">
        </div>
      </div>

      <div class="carousel-item">
        <div class="card mx-auto">
          <i class="fa-regular fa-comment-dots" style="color: #777777;"></i>
          <div class="card-body">
            <p class="card-text">Home Heal ha cambiado el juego para mi tía. Ahora, la atención médica es como un
              servicio VIP en casa. La facilidad de acceso y la personalización del tratamiento son como tener un equipo
              de expertos siempre a nuestro lado. ¡Gracias por hacer que la salud sea divertida!"</p>
            <p class="card-text"> - Mariela Villa</p>
          </div>
          <img src="assets/images/selfie-mujer-boca-besar_23-2147813617.avif"
            class="card-img-top mx-auto img-fluid rounded-circle" alt="">
        </div>
      </div>

      <div class="carousel-item">
        <div class="card mx-auto">
          <i class="fa-regular fa-comment-dots" style="color: #777777;"></i>
          <div class="card-body">
            <p class="card-text">La hospitalización en casa con Home Heal ha sido un cambio total de juego. Mi hermana
              se siente cuidada y comprendida de una manera única. La tecnología que ofrecen hace que todo sea más fácil
              y cómodo. ¡Es como tener un hospital en la palma de la mano!"</p>
            <p class="card-text"> - Tito Páez</p>
          </div>
          <img src="assets/images/istockphoto-1332757615-612x612.jpg"
            class="card-img-top mx-auto img-fluid rounded-circle" alt="">
        </div>
      </div>

      <div class="carousel-item">
        <div class="card mx-auto">
          <i class="fa-regular fa-comment-dots" style="color: #777777;"></i>
          <div class="card-body">
            <p class="card-text">Mis doctores son unos cracks. Parece que llevaron la clínica a mi sala de estar.
              ¡Gracias por el servicio VIP y por hacer de mi hogar el mejor hospital del barrio!"</p>
            <p class="card-text"> - Paco Ruiz</p>
          </div>
          <img src="assets/images/DhmfdbXWAAUdfwZ.jpg" class="card-img-top mx-auto img-fluid rounded-circle" alt="">
        </div>
      </div>
    </div>

    <button class="carousel-control-prev p-2 m-3" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next p-2 m-3" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-image-two">
    <img src="../../../../../assets/images/medicine-dos.svg" alt="Ilustracion">
  </div>
</div>
