@import '/src//styles.scss';
.sidenav-container {
  height: 100%;
}

.sidenav{
  background: $prin_user;
}
.header{
  background: $sec_user;
  height: 100px;

}

.header img{
  width: 100px;
  width: 90px;
  margin-left: 2px;
}
.content{
  background: $back;
}

.lista-opciones{
  padding: 5px 6px;
}
.opcion{
  border-top: solid 2px $sec_user;
}

.icon-title{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.ultimo-menu-border {
  border-bottom: 2px solid $sec_user;
  margin: 8px 0; /* Opcional para ajustar el espaciado entre el último elemento y el borde rojo */
}
.title{
  margin-top: 20px;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.footer-sidenav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-header-menu{
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.container-header-menu h1{
  font-weight: bold;
  margin-bottom: 0;
}

.container-info-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.container-info-user img{
  width: 130px;
  height: 120px;
  border-radius: 3px;
  margin-top: 5px;
}

.nombre-user{
  margin-bottom: 0;
  margin-top: 10px;
  font-size: x-large;
}
.rol-name{
  margin-bottom: 20px;
  font-size: 9px;
  color: $back;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.logo img{
  height: 100px;
  width: 100px;
}
.location{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  width: 100%;
}
