<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-4 mb-4 mt-4">
        <div class="card">
          <img src="../../../../../assets/images/feliz-equipo-medicos-.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-text">Contamos con una destacada facultad de médicos altamente calificados y experimentados. La atención médica de calidad es nuestra prioridad. Confía en nosotros para cuidar de tu salud.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4 mt-4">
        <div class="card">
          <img src="../../../../../assets/images/couple-nurse.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-text">La comunicación es lo más importante para nosotros. Nos comprometemos a mantenerte informado a ti y a tu familia brindándoles tranquilidad y seguridad.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4 mt-4">
        <div class="card">
          <img src="../../../../../assets/images/Medicos-a-domicilio-La-clave-para-no-equivocarse.jpg" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <p class="card-text">¿Sabías que recibir cuidados en casa favorece tu bienestar, intimidad y comodidad, además de que puede disminuir riesgos de infecciones y gastos hospitalarios?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  