
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&family=Montserrat:wght@300;400;600&family=Quicksand:wght@300;500;700&family=Roboto+Condensed:ital,wght@0,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
$text: #333333;
$back: #F5F5F5;

$prin_user: #369CDD;
$sec_user: #1E5877;

$prin_admin: #0D598E;
$sec_admin: #1E5877;

$prin_doc: #56B4E9;
$sec_doc: #3286C0;

$success: #4CAF50;
$success-lite: #DFF0D8;

$success-chat: #3e9d41;
$success-lite-chat: #519834;

$warning: #FFD700;
$warning-lite: #FFF6B2;

$alert: #FF4848;
$alert-lite: #FFCACA;

:root{
  font-family: 'Montserrat', sans-serif;
}
html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  color: #fff;
  border-radius: 5px;
}

.toast.success {
  background-color: #28a745; /* Color de fondo para éxito */
}

.toast.warning {
  background-color: #ffc107; /* Color de fondo para advertencia */
}

.toast.error {
  background-color: #dc3545; /* Color de fondo para error */
}