@import '/src/styles.scss';

.container-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-image img{
  width: 200px;
  height: 200px;
}
.container-form{
  background: white;
  width: 100%;
  height: 100%;
  /* display: flex; */
  display: grid;
  align-items: center;
}

.card-header{
    background: $prin_user;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header h4{
  color: white;
}
.container-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-send{
  background: $prin_user;
  border: none;
  font-weight: 400;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  color: $back;
  font-family: 'Montserrat', sans-serif;
}

.formulario{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 10px -5px rgba(169, 169, 169, 0.75);
  margin-bottom: 180px;
}



.btn-send:hover{
  background: #53ade5;
}
.constiner-image-one img{
  width: 200px;
  height: 200px;
}

.container-image-two img{
  width: 200px;
  height: 200px;
}


