<div class="container-form">
  <div class="">
    <div class="container-image">
      <img src="../../../../../assets/icons/Claro-completo.png" alt="Logo">
    </div>
    <form [formGroup]="form" class="formulario">
      <div class="card" style="width: 50%;">
        <div class="card-header">
          <h4 class="card-title">ENVIAR CORREO DE RECUPERACIÓN DE CONTRASEÑA A</h4>
        </div>
        <div class="card-body">
          <div class="form-outline mb-2">
            <input formControlName="email" type="email" id="email" placeholder="Correo electrónico" class="form-control form-control-md" required />
            <div *ngIf="fg['email'].errors && (fg['email'].dirty || fg['email'].touched)">
            <p *ngIf="fg['email']?.errors?.['required']" style="color: #FF6F60;">Este campo es requerido</p>
            <p *ngIf="fg['email']?.errors?.['email']" style="color: #FF6F60;">Recuerda el formato de email</p>
          </div>
          </div>
          <div class="container-btn">
            <button (click)="sendLinkRecoveryPassword()" type="button" class="btn-send mt-3">
              <div *ngIf="!loading">ENVIAR</div>
              <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="container-ilustracions">
        <div class="constiner-image-one">
          <img src="../../../../../assets/images/doctors-dos.svg" alt="Ilustracion">
        </div>
        <div class="container-image-two">
          <img src="../../../../../assets/images/medicine-dos.svg" alt="Ilustracion">
        </div>
      </div>
    </form>
  </div>
</div>
